<div flex layout="column" class="repo-page lists-container">

    <div class="description" layout="column">

        <h2>{{::repo.name}}</h2>
        <p>{{::repo.description}}</p>

    </div>

    <div class="md-whiteframe-z2" layout="column">

        <md-toolbar>
            <div class="md-toolbar" layout>
                <h3 flex>Branches</h3>

                <md-button>Commits</md-button>
            </div>
        </md-toolbar>

        <md-list>

            <md-list-item ng-repeat="branch in repo.branches">

                <div class="md-list-item-text">
                    <h3>{{::branch.name}}</h3>
                </div>

            </md-list-item>

        </md-list>
    </div>


</div>