<div flex layout class="user-page">

    <div flex="30" layout="column" layout-align="start center">

        <img ng-src="{{::user.avatar_url}}" class="avatar md-whiteframe-z4" alt="{{::user.login}}">

        <h3>{{::user.name}}</h3>

        <p class="login">{{::user.login}}</p>

    </div>

    <div flex="70" layout="column" class="lists-container">

        <div class="md-whiteframe-z2" layout="column" ng-if="user.location || user.email || user.blog">

            <md-toolbar>
                <div class="md-toolbar">
                    <h3>Contacts</h3>
                </div>
            </md-toolbar>

            <md-list>

                <md-list-item ng-if="user.location">
                    <ng-md-icon icon="location_on"></ng-md-icon>
                    <p>{{::user.location}}</p>
                </md-list-item>

                <md-list-item ng-if="user.email">
                    <ng-md-icon icon="email"></ng-md-icon>
                    <p>
                        <a ng-href="mailto:{{::user.email}}" target="_blank">{{::user.email}}</a>
                    </p>
                </md-list-item>

                <md-list-item ng-if="user.blog">
                    <ng-md-icon icon="open_in_new"></ng-md-icon>
                    <p>
                        <a ng-href="{{::user.blog}}" target="_blank">{{::user.blog}}</a>
                    </p>
                </md-list-item>

            </md-list>
        </div>

        <div class="loading" ng-if="!repos.length"></div>

        <div class="md-whiteframe-z2 repos-list-container" layout="column" ng-if="repos.length > 0">

            <md-toolbar>
                <div class="md-toolbar" layout>
                    <h3 flex>Repositories</h3>
                    <h3>{{::repos.length}}</h3>
                </div>
            </md-toolbar>

            <md-list>

                <md-list-item
                        class="md-2-line"
                        ng-repeat="repo in repos"
                        ng-click="showRepo(repo)">

                    <div class="md-list-item-text">
                        <h3>{{::repo.name}}</h3>
                        <p>{{::repo.description}}</p>
                    </div>

                    <div class="language">{{::repo.language}}</div>

                    <md-divider></md-divider>

                </md-list-item>

            </md-list>

        </div>
    </div>
</div>