.content
  //position relative
  padding 20px

  //&.ng-enter
  //&.ng-leave
  //  transition left 5s ease-in-out
  //
  //&.ng-enter
  //  left 100%
  //
  //&.ng-enter-active
  //  left 0
  //
  //&.ng-leave
  //  left 0
  //
  //&.ng-leave-active
  //  left 100%

.user-page

  .user-avatar
    width 70%

  .user-login
    margin 0

  .md-toolbar
    padding 0 16px

  .user-page-info

    &>div
      margin-bottom 20px

  .language
    margin auto

